# Node / Angular
frontend/web/node_modules/
frontend/web/dist/
frontend/web/.angular/
npm-debug.log*

# Python / Django
backend/.venv/
.ml/
**/__pycache__/
*.py[cod]
db/sqlite/db.sqlite3

# Env / Secrets
.env
.env.*
*.log
.venv*
rag_service/cache/
.python310/
.python312/

# System files
.DS_Store
Thumbs.db

*/*_legacy_qwen7b/
*/quantized
*/out_*
*/merged_*
*/quantized_*
